.news {
  padding: 50px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.news-category {
  font-size: 14px;
  font-weight: 600;
  color: var(--light-700);

  @include small-tablet {
    font-size: 13px;
  }
}

.news-status {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: var(--black-300);

  &__publish {
    color: var(--accent-color);
  }

  &__denied {
    display: flex;
    gap: 4px;
    color: #F14747;

    &::after {
      content: url('../../img/svg/denied.svg');
    }
  }
}

.news-date {
  font-size: 13px;
  font-weight: 400;
  color: var(--brown-700);

  @include small-tablet {
    font-size: 12px;
  }
}

.news-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--black-300);

  @include small-tablet {
    font-size: 13px;
  }
}

.news-company {
  font-size: 14px;
  font-weight: 700;
  color: var(--accent-color);

  @include small-tablet {
    font-size: 13px;
  }
}

.news-title {
  &__big {
    font-size: 21px;
    font-weight: 700;
    color: var(--black-900);

    @include small-tablet {
      font-size: 16px;
    }
  }

  &__min {
    font-size: 15px;
    font-weight: 700;
    color: var(--black-900);
  }
}

.news-link {
  &:hover {
    .news-title__big {
      text-decoration: underline;
    }
    .news-title__min {
      text-decoration: underline;
    }
  }
}

.news-content {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 13px;

  @include small-tablet {
    gap: 8px;
    padding: 0px;
  }
}

.news-one {
  border-radius: 8px;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 540px;
    width: 640px;

    @include small-tablet {
      width: 320px;
      height: 368px;
      gap: 8px;
    }
  }

  &__image {
    width: 640px;
    height: 360px;

    @include small-tablet {
      width: 320px;
      height: 180px;
    }

    &--icon {
      border-radius: 2px;
      width: 100%;
      height: 100%;
    }
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--title {
      font-size: 21px;
      font-weight: 700;
      color: var(--black-900);
      transition: 0.2s ease-in-out;

      @include small-tablet {
        font-size: 16px;
      }
    }
  }
}

.news-second {
  border-radius: 8px;

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 166px;
    width: 640px;

    &:hover {
      .news-second__info--title {
        text-decoration: underline;
      }
    }

    @include small-tablet {
      width: 320px;
      height: 99px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__image {
    min-width: 317px;
    height: 166px;

    @include small-tablet {
      min-width: 100px;
      height: 72px;
    }

    &--icon {
      border-radius: 2px;
      width: 100%;
      height: 100%;

      @include small-tablet {
        width: 100px;
        height: 72px;
      }
    }
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include small-tablet {
      padding: 0px;
    }

    &--title {
      font-size: 16px;
      font-weight: 700;
      color: var(--black-900);
      transition: 0.2s ease-in-out;

      @include small-tablet {
        font-size: 14px;
      }
    }

    &--text {
      font-size: 14px;
      font-weight: 400;
      color: var(--black-300);

      @include small-tablet {
        display: none;
      }
    }
  }

  &__company {

    &--text {
      font-size: 14px;

      @include small-tablet {
        font-size: 12px;
      }
    }
  }
}

.news-third {
  border-radius: 2px;

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 451px;
    height: 254px;
    cursor: pointer;
    z-index: 15;

    &:hover {
      .news-third__title {
        text-decoration: underline;
      }
      .news-third__bg {
        opacity: 0.2;
        background: var(--light-700);
      }
    }

    @include small-tablet {
      width: 320px;
      height: 180px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--PhotoTop, linear-gradient(180deg, rgba(52, 52, 52, 0.00) 42.19%, rgba(52, 52, 52, 0.60) 100%));
    background-blend-mode: multiply;
    z-index: 11;
  }

  &__image {
    position: absolute;
    top: 0;
    width: 451px;
    height: 254px;

    @include small-tablet {
      width: 320px;
      height: 180px;
    }

    &--icon {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 16px 16px;
    z-index: 12;
  }

  &__title {
    color: var(--light-color);
    transition: 0.2s ease-in-out;

    @include small-tablet {
      font-size: 16px;
    }
  }

  &__bottom {
    @include small-tablet {
      padding: 0px 16px;
    }
  }

  &__company {
    color: var(--light-700);
  }

  &__time {
    color: var(--grey-900);
  }
}

.news-four {
  width: 294px;
  height: 119px;
  border: 1px solid var(--beige-900);
  border-radius: 2px;
  cursor: pointer;

  @include small-tablet {
    width: 320px;
    height: 118px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 8px;
    transition: 0.2s ease-in-out;
    color: var(--black-900);

    @include small-tablet {
      padding: 16px 16px;
    }
  }
}

.news-five {
  width: 448px;
  height: 99px;
  border: 1px solid var(--beige-900);
  border-radius: 2px;
  cursor: pointer;

  @include small-tablet {
    width: 320px;
    height: 118px;
  }
}

.news-six {
  border-radius: 8px;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 521px;
    width: 608px;

    @include small-tablet {
      width: 320px;
      height: 368px;
      gap: 8px;
    }
  }

  &__position {
    padding: 0px 16px;

    @include small-tablet {
      padding: 0px;
    }
  }

  &__image {
    height: 342px;
    width: 608px;

    @include small-tablet {
      width: 320px;
      height: 180px;
    }

    &--icon {
      width: 100%;
      height: 100%;
    }
  }
}

.news-seven {
  border-radius: 8px;

  &__link {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 294px;
    height: 249px;

    @include small-tablet {
      width: 320px;
      height: 262px;
    }

    &:hover {
      .news-seven__image--bg {
        opacity: 0.2;
        background-color: var(--light-700);
      }
    }
  }

  &__image {
    position: relative;
    width: 294px;
    height: 154px;

    @include small-tablet {
      width: 320px;
      height: 168px;
    }

    &--bg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    &--icon {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 8px;
  }
}

.news-eight {
  border-radius: 2px;

  &__link {
    display: flex;
    gap: 8px;
    width: 448px;
    height: 87px;

    @include small-tablet {
      flex-direction: column;
      width: 320px;
      height: 262px;
    }

    &:hover {
      .news-seven__image--bg {
        opacity: 0.2;
        background-color: var(--light-700);
      }
    }
  }

  &__image {
    position: relative;
    min-width: 146px;
    height: 87px;

    @include small-tablet {
      width: 320px;
      height: 168px;
    }

    &--icon {
      border-radius: 2px;
      width: 100%;
      height: 100%;
      z-index: 8;
    }
  }
}
