.breadcrumbs {

  &__link {
    display: flex;
    align-items: center;
    gap: 25px;

    &:hover {
      .breadcrumbs__arrow {
        opacity: 1;
        fill: var(--black-900);
      }
    }
  }

  &__arrow {
    fill: var(--black-300);
    opacity: 0.5;
    transition: 0.2s ease-in-out;
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    color: var(--black-900);
  }
}
