.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  // &--text {
  //   font-size: 16px;
  //   font-weight: 700;
  //   color: var(--blue-dark);
  //   transition: 0.2s ease-in-out;

  //   &:hover {
  //     text-decoration: underline;
  //   }
  // }

  &--position {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 24px;
    border-top: 1px solid var(--beige-900);

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }


  &--fill {
    width: 240px;
    color: var(--blue-900);
    background-color: var(--light-700);
    transition: 0.2s ease-in-out;

    @include small-tablet {
      width: 320px;
    }

    &:hover {
      color: var(--grey-900);
      background-color: var(--accent-color);
    }
  }

  &--stroke {
    width: 240px;
    color: var(--blue-900);
    border: 1px solid var(--light-700);
    background-color: var(--light-color);
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: var(--light-700);
    }

    @include mobile {
      width: 320px;
    }
  }

  &--min {
    width: 91px;
    opacity: 0.5;
    color: var(--blue-500);
    background-color: var(--beige-900);
    transition: 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    @include mobile {
      width: 320px;
    }
  }

}
