.btn {
  padding: 20px 32px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  &--text {
    font-size: 16px;
    font-weight: 700;
    color: var(--blue-dark);
    transition: 0.2s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }


  &--blue {
    display: inline-block;
    color: var(--light-color);
    background-color: var(--accent-color);
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: var(--blue-dark);
    }
  }

  &--stroke {
    display: inline-block;
    color: var(--blue-dark);
    background-color: var(--light-color);
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: var(--blue-light);
    }
  }

  &--min {
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
  }

}
