.header {

  @include tablet {
    display: none;
  }


  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__logo {
    &--icon {
      display: block;
      width: 139px;
      height: 50px;
      object-fit: cover;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__image {
    &--icon {
      width: 44px;
      height: 50px;

    }
  }
  &__title {
    color: var(--black-700);
  }

  &__btn {
    padding: 12px 20px;
    border-radius: 4px;
    color: var(--light-color);
    transition: background-color 0.2s ease-in-out;
  }

  &__phone {
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-color);
    border-bottom: 1px solid transparent;
    transition: color 0.2s ease-in-out;

    &:hover {
      border-bottom: 1px solid var(--dark-color);
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url(../../img/svg/phone.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}


.nav {
  position: relative;
  // z-index: 3;
  padding: 16px;
  background-color: var(--blue-dark);

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    position: relative;
    font-family: var(--another-family);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    color: var(--black-100);
    opacity: 0.7;
    cursor: pointer;


    &:hover {
      opacity: 1;
    }

    &--active {
      padding-right: 20px;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 2px;
        width: 16px;
        height: 16px;
        background-image: url(../../img/arrow-down.svg);
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
