.all-form {

  &__input {
    padding: 12px 16px;
    border-radius: 2px;
    border: 1px solid var(--Black300, #8E8B82);
    opacity: 0.3;

    &:focus {
      border: 1px solid var(--black-900);
      opacity: 1;
    }

    &:active {
      border: 1px solid var(--black-300);
      opacity: 1;
    }
  }


}
