.custom-select select {
  background: none;
  width: 320px;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  border-radius: 2px;
  border: 1px solid var(--Black300, #8E8B82);
  color: var(--black-900);
  cursor: pointer;

  &:focus {
    border-color: var(--light-700);
  }

  &__option {
    cursor: pointer;
    transition: 0.2s easy-in-out;
    &:hover {
      background-color: transparent;
      color: var(--accent-color);
    }
  }

}
.custom-select select option {
  cursor: pointer;
    transition: 0.2s easy-in-out;
    &:hover {
      background-color: transparent;
      color: var(--accent-color);
    }
}
