:root {
  --font-family: "Nunito Sans";
  --content-width: 1300px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --dark-color: #000;
  --light-color: #fff;
  --light-700: #53D9F6;
  --black-900: #343434;
  --black-300: #8E8B82;
  --grey-900: #F5F5F5;
  --brown-900: #4F4A45;
  --brown-700: #6C5F5B;
  --blue-900: #383E56;
  --blue-700: #363062;
  --blue-500: #4D4C7D;
  --accent-color: #117E96;
  --beige-900: #F6F1EE;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: var(--font-family, sans-serif);
  line-height: normal;
  color: var(--black-900);
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  font-size: 40px;
  font-weight: 900;
  color: var(--blue-700);
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.subtitle {
  font-size: 32px;
  font-weight: 800;
  color: var(--black-900);
}

.top-offset {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .top-offset {
    margin-top: 24px;
  }
}

.bottom-offset {
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .bottom-offset {
    margin-bottom: 80px;
  }
}

.block-offset {
  margin-bottom: 32px;
}

.header {
  padding: 16px 0px;
  background: rgba(77, 76, 125, 0.05);
  -webkit-box-shadow: 0px 2px 16px 0px rgba(52, 52, 52, 0.1);
  box-shadow: 0px 2px 16px 0px rgba(52, 52, 52, 0.1);
  border-bottom: 1px solid rgba(77, 76, 125, 0.5);
}
@media (max-width: 1024px) {
  .header {
    display: none;
  }
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2px;
}
.header__left--text {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  color: var(--black-900);
}
.header__right {
  padding: 16px 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.header__right--link {
  color: var(--blue-900);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.header__right--link:hover {
  color: var(--accent-color);
}
.header__logo--icon {
  display: block;
  width: 104px;
  height: 24px;
  -o-object-fit: cover;
  object-fit: cover;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  border-left: 1px solid rgba(77, 76, 125, 0.2);
  border-right: 1px solid rgba(77, 76, 125, 0.2);
}
.nav__link {
  font-size: 16px;
  font-weight: 700;
  color: var(--blue-900);
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.nav__link:hover {
  color: var(--accent-color);
}

.registration__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}
@media (max-width: 768px) {
  .registration__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
  }
}
.registration__title {
  margin-bottom: 40px;
}
.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  width: 240px;
}
@media (max-width: 768px) {
  .registration__form {
    width: 320px;
  }
}
.registration__form--inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.registration__form--text {
  font-size: 12px;
  font-weight: 400;
  color: var(--black-900);
}
.registration__form--article {
  opacity: 0.5;
}
.registration__form--article span a {
  color: var(--black-900);
  text-decoration: underline;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.registration__form--article span a:hover {
  color: var(--accent-color);
}
.registration__image {
  width: 750px;
  height: 502px;
}
@media (max-width: 1024px) {
  .registration__image {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .registration__image {
    width: 320px;
    height: 214px;
  }
}
.registration__image--icon {
  width: 100%;
  height: 100%;
}

.profile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 1px solid var(--beige-900);
}
@media (max-width: 576px) {
  .profile-nav {
    display: none;
  }
}
.profile-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  color: var(--brown-900);
  opacity: 0.5;
  border-bottom: 2px solid transparent;
}
.profile-nav__link:hover {
  color: var(--brown-900);
  opacity: 1;
  border-bottom: 2px solid var(--brown-900);
}
.profile-nav__link--active {
  color: var(--accent-color);
  opacity: 1;
  border-bottom: 2px solid var(--accent-color);
}
.profile-nav__icon {
  fill: var(--beige-900);
}
.profile-nav__icon--active {
  fill: var(--accent-color);
}

.profile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}
.profile-form__content {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 576px) {
  .profile-form__content {
    width: 320px;
  }
}
.profile-form__input {
  max-width: 240px;
}
.profile-form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}
.profile-form__title {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 700;
  color: var(--blue-900);
}
.profile-form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  padding-top: 24px;
  border-top: 1px solid var(--beige-900);
}
@media (max-width: 576px) {
  .profile-form__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.worker__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}
.worker__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}
.worker__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  padding: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 4px;
  border: 1px solid var(--beige-900);
}
@media (max-width: 768px) {
  .worker__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
  }
}
.worker__info--name {
  width: 320px;
  font-size: 15px;
  font-weight: 600;
  color: var(--black-900);
}
@media (max-width: 768px) {
  .worker__info--name {
    width: 288px;
  }
}
.worker__info--email {
  font-size: 15px;
  font-weight: 600;
  color: var(--black-900);
}
@media (max-width: 768px) {
  .worker__info--email {
    width: 100%;
  }
}
.worker__info--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .worker__info--btns {
    width: 100%;
    padding-top: 16px;
    gap: 0px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid var(--beige-900);
  }
}
.worker__btn {
  width: 16px;
  height: 16px;
  opacity: 0.5;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.worker__btn:hover {
  opacity: 1;
}
.worker__btn img {
  width: 100%;
  height: 100%;
}
.worker__bottom {
  padding-top: 24px;
  border-top: 1px solid var(--beige-900);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
.btn--fill {
  width: 240px;
  color: var(--blue-900);
  background-color: var(--light-700);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .btn--fill {
    width: 320px;
  }
}
.btn--fill:hover {
  color: var(--grey-900);
  background-color: var(--accent-color);
}
.btn--stroke {
  width: 240px;
  color: var(--blue-900);
  border: 1px solid var(--light-700);
  background-color: var(--light-color);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn--stroke:hover {
  background-color: var(--light-700);
}
.btn--min {
  width: 91px;
  opacity: 0.5;
  color: var(--blue-500);
  background-color: var(--beige-900);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn--min:hover {
  opacity: 1;
}
@media (max-width: 576px) {
  .btn--min {
    width: 320px;
  }
}

.breadcrumbs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 24px;
  z-index: 1;
}
.breadcrumbs__item {
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 32px;
}
@media (max-width: 768px) {
  .breadcrumbs__item:not(:last-child) {
    margin-bottom: 4px;
  }
}
.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -24px;
  top: 5px;
  width: 20px;
  height: 10px;
  color: var(--black-500);
  background-image: url(../../img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.breadcrumbs__item:not(:last-child) a:hover {
  color: var(--accent-color);
}
.breadcrumbs__link {
  color: var(--black-500);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.breadcrumbs__link:not([href]) {
  color: var(--dark-color);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding-top: 16px;
  top: 18px;
  left: 0;
  width: var(--content-width);
  z-index: 10;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-content {
  position: absolute;
  display: none;
  top: 71px;
  right: 0;
  padding: 24px;
  border-radius: 0px 0px 8px 8px;
  border-right: 1px solid rgba(77, 76, 125, 0.5);
  border-bottom: 1px solid rgba(77, 76, 125, 0.5);
  border-left: 1px solid rgba(77, 76, 125, 0.5);
  -webkit-box-shadow: 0px 2px 16px 0px rgba(52, 52, 52, 0.1);
  box-shadow: 0px 2px 16px 0px rgba(52, 52, 52, 0.1);
  background-color: var(--light-color);
  z-index: 20;
}
.menu-content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menu-content__form span {
  margin-bottom: 16px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: var(--black-300);
}
.menu-content__btn {
  margin-bottom: 16px;
}

.dropdown:hover .dropdown-second {
  display: block;
}

.dropdown:hover .nav__link--active::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dropdown-second {
  display: none;
  position: absolute;
  padding-top: 16px;
  top: 18px;
  left: 0;
  width: 245px;
  z-index: 10;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu-second {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 32px 48px;
  border-radius: 0px 0px 8px 8px;
  background-color: var(--light-color);
  -webkit-box-shadow: -7px 8px 0px 0px rgb(0, 73, 153);
  box-shadow: -7px 8px 0px 0px rgb(0, 73, 153);
  z-index: 20;
}
.menu-second__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menu-second__title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
}
.menu-second__item:not(:last-child) {
  margin-bottom: 16px;
}
.menu-second__item a {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.menu-second__item a:hover {
  border-bottom: 1px solid var(--dark-color);
}
.menu-second__icon {
  max-width: 90px;
}

.dropdown:hover .dropdown-second {
  display: block;
}

.dropdown:hover .nav__link--active::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal__content {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  background-image: url(../../img/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 10;
}

.call__container {
  position: relative;
  background-color: var(--light-color);
  padding: 48px;
  width: 370px;
  height: 476px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 16px 40px 0px rgba(56, 67, 79, 0.1);
  box-shadow: 0px 16px 40px 0px rgba(56, 67, 79, 0.1);
}
@media (max-width: 768px) {
  .call__container {
    width: 322px;
    height: 389px;
    padding: 24px;
  }
}
@media (max-width: 576px) {
  .call__container {
    width: 320px;
    height: auto;
  }
}
@media (max-width: 425px) {
  .call__container {
    width: 290px;
  }
}

.call-form__subtitle {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.36px;
  opacity: 0.4;
  color: var(--blue-dark);
  text-transform: uppercase;
}
.call-form__title {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .call-form__title {
    margin-bottom: 16px;
  }
}
.call-form__descr {
  margin-bottom: 32px;
  color: var(--black-700);
}
@media (max-width: 768px) {
  .call-form__descr {
    margin-bottom: 24px;
  }
}
.call-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 31px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .call-form__top {
    gap: 23px;
    margin-bottom: 16px;
  }
}
.call-form__input {
  width: 240px;
  border-radius: 4px;
  border: 2px solid var(--black-100);
  padding: 16px 24px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .call-form__input {
    width: 100%;
  }
}
.call-form__input:hover {
  border: 2px solid var(--black-500);
}
.call-form__input--first {
  width: 240px;
  border: 2px solid var(--black-100);
  padding: 16px 24px;
  border-radius: 4px;
  background-color: var(--black-100);
}
.call-form__input--first:hover {
  border: 2px solid var(--black-500);
}
.call-form__input--first:focus {
  outline: none;
}
.call-form__input--first::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 700;
  color: var(--black-700);
}
.call-form__input--first::-moz-placeholder {
  font-size: 16px;
  font-weight: 700;
  color: var(--black-700);
}
.call-form__input--first:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 700;
  color: var(--black-700);
}
.call-form__input--first::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 700;
  color: var(--black-700);
}
.call-form__input--first::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: var(--black-700);
}
.call-form__input:focus {
  outline: none;
}
.call-form__label {
  position: absolute;
  top: -5px;
  left: 24px;
  padding: 0px 8px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.1px;
  color: var(--black-500);
  background-color: var(--light-color);
}
.call-form__item {
  position: relative;
}
.call-form__btn {
  padding: 20px 52px;
}
@media (max-width: 768px) {
  .call-form__btn {
    width: 100%;
  }
}

.order__container {
  position: relative;
  padding: 48px;
  width: 616px;
  height: 604px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 16px 40px 0px rgba(56, 67, 79, 0.1);
  box-shadow: 0px 16px 40px 0px rgba(56, 67, 79, 0.1);
  background-color: var(--light-color);
}
@media (max-width: 768px) {
  .order__container {
    padding: 24px;
    width: 322px;
    height: 551px;
  }
}
@media (max-width: 576px) {
  .order__container {
    width: 290px;
    height: auto;
  }
}
.order__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.order__descr {
  margin-bottom: 32px;
  color: var(--black-700);
}
@media (max-width: 768px) {
  .order__descr {
    margin-bottom: 24px;
  }
}

.order-form__subtitle {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.36px;
  opacity: 0.4;
  color: var(--blue-dark);
  text-transform: uppercase;
}
.order-form__title {
  margin-bottom: 24px;
}
.order-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
}
@media (max-width: 768px) {
  .order-form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0px;
  }
}
.order-form__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 248px;
  height: 248px;
}
@media (max-width: 768px) {
  .order-form__image {
    display: none;
  }
}
.order-form__icon {
  width: 248px;
}
.order-form__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 768px) {
  .order-form__right {
    width: 100%;
  }
}
.order-form__input {
  width: 240px;
  border-radius: 4px;
  border: 2px solid var(--black-100);
  padding: 16px 24px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .order-form__input {
    width: 100%;
  }
}
.order-form__input:hover {
  border: 2px solid var(--black-500);
}
.order-form__input:focus {
  outline: none;
}
.order-form__label {
  position: absolute;
  top: -5px;
  left: 24px;
  padding: 0px 8px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.1px;
  color: var(--black-500);
  background-color: var(--light-color);
}
.order-form__item {
  position: relative;
}
.order-form__item:not(:last-child) {
  margin-bottom: 24px;
}
.order-form__item:nth-child(1) {
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .order-form__item:nth-child(1) {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .order-form__item:nth-child(2) {
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .order-form__item:last-child {
    text-align: center;
  }
}
.order-form__btn {
  padding: 20px 52px;
}
@media (max-width: 768px) {
  .order-form__btn {
    width: 100%;
  }
}
.order-form__phone {
  position: relative;
  padding-left: 24px;
  font-size: 16px;
  font-weight: 700;
  color: var(--accent-color);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.order-form__phone:hover {
  border-bottom: 1px solid var(--accent-color);
}
.order-form__phone::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../../img/phone-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.order-form__descr {
  margin-bottom: 8px;
  color: var(--black-700);
}

.burger-menu {
  display: none;
}
@media (max-width: 1024px) {
  .burger-menu {
    display: block;
  }
}
.burger-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 20px;
  border-bottom: 1px solid var(--blue-light);
}
.burger-menu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  .burger-menu__image--icon {
    width: 43px;
  }
}
.burger-menu__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
}
.burger-menu__nav {
  display: none;
  position: absolute;
  padding: 32px 20px;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 16px 40px 0px rgba(0, 73, 153, 0.2);
  box-shadow: 0px 16px 40px 0px rgba(0, 73, 153, 0.2);
  z-index: 100;
}
.burger-menu__list {
  margin-bottom: 32px;
}
.burger-menu__item:not(:last-child) {
  margin-bottom: 16px;
}
.burger-menu__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--black-700);
}
.burger-menu__link:focus {
  color: var(--blue-dark);
}
.burger-menu__link:focus .burger-menu__arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  stroke: var(--blue-dark);
}
.burger-menu__link:hover {
  color: var(--dark-color);
}
.burger-menu__link:hover .burger-menu__arrow {
  stroke: var(--dark-color);
}
.burger-menu__arrow {
  margin-left: 4px;
  stroke: var(--black-500);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.burger-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}
.burger-menu__phone {
  position: relative;
  padding-left: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  font-weight: 700;
  color: var(--accent-color);
  border-bottom: 1px solid transparent;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.burger-menu__phone:hover {
  border-bottom: 1px solid var(--accent-color);
}
.burger-menu__phone::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../../img/phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.burger-menu__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

.burger {
  --burger-width: 20px;
  --burger-height: 16px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0px;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  color: var(--light-color);
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--light-color);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 20%;
}
.burger::after {
  top: 80%;
}
.burger__line {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  left: 10%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger--active::after {
  top: 50%;
  left: 10%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu--active {
  display: block;
}
.menu--active .burger-menu__wrapper {
  -webkit-box-shadow: 0px 16px 40px 0px rgba(0, 73, 153, 0.2);
  box-shadow: 0px 16px 40px 0px rgba(0, 73, 153, 0.2);
}

.subburger-menu {
  display: none;
  margin-top: 16px;
  padding-left: 24px;
}
.subburger-menu__item {
  cursor: pointer;
}
.subburger-menu__item.open a svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.subburger-menu__item:not(:last-child) {
  margin-bottom: 16px;
}
.subburger-menu__btn {
  cursor: pointer;
}
.subburger-menu__btn.open svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.subburger-more {
  display: none;
  margin-top: 16px;
  padding-left: 24px;
}
.subburger-more__item:not(:last-child) {
  margin-bottom: 16px;
}
.subburger-more__link {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: var(--black-700);
}
.subburger-more__link:hover {
  color: var(--blue-dark);
}
.subburger-more__link:focus {
  color: var(--light-100);
  background-color: var(--blue-color);
}

.news {
  padding: 50px;
}
.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
}

.news-category {
  font-size: 14px;
  font-weight: 600;
  color: var(--light-700);
}
@media (max-width: 768px) {
  .news-category {
    font-size: 13px;
  }
}

.news-date {
  font-size: 13px;
  font-weight: 400;
  color: var(--brown-700);
}
@media (max-width: 768px) {
  .news-date {
    font-size: 12px;
  }
}

.news-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--black-300);
}
@media (max-width: 768px) {
  .news-text {
    font-size: 13px;
  }
}

.news-company {
  font-size: 14px;
  font-weight: 700;
  color: var(--accent-color);
}
@media (max-width: 768px) {
  .news-company {
    font-size: 13px;
  }
}

.news-title__big {
  font-size: 21px;
  font-weight: 700;
  color: var(--black-900);
}
@media (max-width: 768px) {
  .news-title__big {
    font-size: 16px;
  }
}
.news-title__min {
  font-size: 15px;
  font-weight: 700;
  color: var(--black-900);
}

.news-link:hover .news-title__big {
  text-decoration: underline;
}
.news-link:hover .news-title__min {
  text-decoration: underline;
}

.news-content {
  padding: 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 13px;
}
@media (max-width: 768px) {
  .news-content {
    gap: 8px;
    padding: 0px;
  }
}

.news-one {
  border-radius: 8px;
}
.news-one__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 540px;
  width: 640px;
}
@media (max-width: 768px) {
  .news-one__link {
    width: 320px;
    height: 368px;
    gap: 8px;
  }
}
.news-one__image {
  width: 640px;
  height: 360px;
}
@media (max-width: 768px) {
  .news-one__image {
    width: 320px;
    height: 180px;
  }
}
.news-one__image--icon {
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
.news-one__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
.news-one__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}
.news-one__info--title {
  font-size: 21px;
  font-weight: 700;
  color: var(--black-900);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .news-one__info--title {
    font-size: 16px;
  }
}

.news-second {
  border-radius: 8px;
}
.news-second__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  height: 166px;
  width: 640px;
}
.news-second__link:hover .news-second__info--title {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .news-second__link {
    width: 320px;
    height: 99px;
  }
}
.news-second__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
}
.news-second__image {
  min-width: 317px;
  height: 166px;
}
@media (max-width: 768px) {
  .news-second__image {
    min-width: 100px;
    height: 72px;
  }
}
.news-second__image--icon {
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .news-second__image--icon {
    width: 100px;
    height: 72px;
  }
}
.news-second__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
.news-second__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 768px) {
  .news-second__info {
    padding: 0px;
  }
}
.news-second__info--title {
  font-size: 16px;
  font-weight: 700;
  color: var(--black-900);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .news-second__info--title {
    font-size: 14px;
  }
}
.news-second__info--text {
  font-size: 14px;
  font-weight: 400;
  color: var(--black-300);
}
@media (max-width: 768px) {
  .news-second__info--text {
    display: none;
  }
}
.news-second__company--text {
  font-size: 14px;
}
@media (max-width: 768px) {
  .news-second__company--text {
    font-size: 12px;
  }
}

.news-third {
  border-radius: 2px;
}
.news-third__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 451px;
  height: 254px;
  cursor: pointer;
  z-index: 15;
}
.news-third__link:hover .news-third__title {
  text-decoration: underline;
}
.news-third__link:hover .news-third__bg {
  opacity: 0.2;
  background: var(--light-700);
}
@media (max-width: 768px) {
  .news-third__link {
    width: 320px;
    height: 180px;
  }
}
.news-third__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--PhotoTop, linear-gradient(180deg, rgba(52, 52, 52, 0) 42.19%, rgba(52, 52, 52, 0.6) 100%));
  background-blend-mode: multiply;
  z-index: 11;
}
.news-third__image {
  position: absolute;
  top: 0;
  width: 451px;
  height: 254px;
}
@media (max-width: 768px) {
  .news-third__image {
    width: 320px;
    height: 180px;
  }
}
.news-third__image--icon {
  width: 100%;
  height: 100%;
}
.news-third__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  padding: 0px 16px 16px;
  z-index: 12;
}
.news-third__title {
  color: var(--light-color);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .news-third__title {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .news-third__bottom {
    padding: 0px 16px;
  }
}
.news-third__company {
  color: var(--light-700);
}
.news-third__time {
  color: var(--grey-900);
}

.news-four {
  width: 294px;
  height: 119px;
  border: 1px solid var(--beige-900);
  border-radius: 2px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .news-four {
    width: 320px;
    height: 118px;
  }
}
.news-four__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  padding: 16px 8px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: var(--black-900);
}
@media (max-width: 768px) {
  .news-four__link {
    padding: 16px 16px;
  }
}

.news-five {
  width: 448px;
  height: 99px;
  border: 1px solid var(--beige-900);
  border-radius: 2px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .news-five {
    width: 320px;
    height: 118px;
  }
}

.news-six {
  border-radius: 8px;
}
.news-six__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 521px;
  width: 608px;
}
@media (max-width: 768px) {
  .news-six__link {
    width: 320px;
    height: 368px;
    gap: 8px;
  }
}
.news-six__position {
  padding: 0px 16px;
}
@media (max-width: 768px) {
  .news-six__position {
    padding: 0px;
  }
}
.news-six__image {
  height: 342px;
  width: 608px;
}
@media (max-width: 768px) {
  .news-six__image {
    width: 320px;
    height: 180px;
  }
}
.news-six__image--icon {
  width: 100%;
  height: 100%;
}

.news-seven {
  border-radius: 8px;
}
.news-seven__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  width: 294px;
  height: 249px;
}
@media (max-width: 768px) {
  .news-seven__link {
    width: 320px;
    height: 262px;
  }
}
.news-seven__link:hover .news-seven__image--bg {
  opacity: 0.2;
  background-color: var(--light-700);
}
.news-seven__image {
  position: relative;
  width: 294px;
  height: 154px;
}
@media (max-width: 768px) {
  .news-seven__image {
    width: 320px;
    height: 168px;
  }
}
.news-seven__image--bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.news-seven__image--icon {
  width: 100%;
  height: 100%;
}
.news-seven__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  padding: 0px 8px;
}

.news-eight {
  border-radius: 2px;
}
.news-eight__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  width: 448px;
  height: 87px;
}
@media (max-width: 768px) {
  .news-eight__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 320px;
    height: 262px;
  }
}
.news-eight__link:hover .news-seven__image--bg {
  opacity: 0.2;
  background-color: var(--light-700);
}
.news-eight__image {
  position: relative;
  min-width: 146px;
  height: 87px;
}
@media (max-width: 768px) {
  .news-eight__image {
    width: 320px;
    height: 168px;
  }
}
.news-eight__image--icon {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.all-form__input {
  padding: 12px 16px;
  width: 100%;
  height: 43px;
  border-radius: 2px;
  border: 1px solid var(--Black300, #8E8B82);
  opacity: 0.3;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.all-form__input:focus {
  border: 1px solid var(--black-900);
  opacity: 1;
}
.all-form__input:hover {
  border: 1px solid var(--black-300);
  opacity: 1;
}
.all-form__input--drop {
  margin-bottom: 8px;
  width: 240px;
}
.all-form__input--registr {
  width: 100%;
}
.all-form__input--registr:not(:last-child) {
  margin-bottom: 8px;
}
.all-form__input--profile {
  width: 100%;
}

.swiper-one {
  display: none;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--beige-900);
}
.swiper-one__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.swiper-one__slide {
  max-width: 140px;
  height: 41px;
}

@media (max-width: 3000px) {
  .swiper-container {
    display: none;
  }
}
@media (max-width: 576px) {
  .swiper-container {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */