.password {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &--inputs {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 240px;

      @include mobile {
        width: 320px;
      }
    }
  }
}
