<section class="adv top-offset bottom-offset">
  <div class="container">
    <h2 class="title adv__title">
      Экслюзивная реклама<br>
      от PR<span>O</span>NEWS
    </h2>
    <p class="adv__descr descr">
      Реклама на&nbsp;нашем новостном сайте&nbsp;&mdash; это исключительная возможность привлечь внимание целевой аудитории, заинтересованной в&nbsp;сфере грузоперевозок и&nbsp;логистики. Мы&nbsp;предлагаем рекламодателям множество преимуществ, делая сотрудничество с&nbsp;нами невероятно эффективным способом продвижения вашего бизнеса.
    </p>
   <div class="adv__wrapper">
    <div class="adv-statistics">
      <h3 class="adv-statistics__title">
        Статистика
      </h3>
      <div class="adv-statistics__block">
        <div class="adv-statistics__col">
          <span class="adv-statistics__value">>10.000</span>
          <p class="adv-statistics__text">
            Уникальных пользователей <br>ежемесячно
          </p>
        </div>
        <div class="adv-statistics__col">
          <span class="adv-statistics__value">>5 <span>минут</span></span>
          <p class="adv-statistics__text">
            Среднее время <br>на сайте
          </p>
        </div>
        <div class="adv-statistics__col">
          <span class="adv-statistics__value">25-55 <span>лет</span></span>
          <p class="adv-statistics__text">
            Средний возраст<br> посетителей
          </p>
        </div>
        <div class="adv-statistics__col">
          <span class="adv-statistics__value">40<span>%</span></span>
          <p class="adv-statistics__text">
            Доля<br> мобильных устройств
          </p>
        </div>
      </div>
    </div>
    <div class="benefits">
      <h3 class="benefits__title subtitle">
        Почему это эффективно
      </h3>
      <div class="benefits__wrapper">
        <div class="benefits__block">
          <div class="benefits__text">
            <h4 class="benefits__text--title">
              Широкий охват
            </h4>
            <p class="descr">
              Мы&nbsp;имеем множество читателей и&nbsp;зарегистрирован-ных пользователей, что дает Вам возможность достичь огромной аудитории Ваших потенциальных клиентов.
            </p>
          </div>
          <div class="benefits__image">
            <img src="../img/benefits/benefits-1.png" class="benefits__image--icon">
          </div>
        </div>
        <div class="benefits__block">
          <div class="benefits__image benefits__image--position">
            <img src="../img/benefits/benefits-2.png" class="benefits__image--icon">
          </div>
          <div class="benefits__text benefits__text--position">
            <h4 class="benefits__text--title">
              Целевая аудитория
            </h4>
            <p class="descr">
              Наш сайт привлекает аудиторию, активно интересующуюся грузоперевозками и&nbsp;логистикой. Реклама здесь достигает тех, кто именно Вас интересует.
            </p>
          </div>
        </div>
        <div class="benefits__block">
          <div class="benefits__text">
            <h4 class="benefits__text--title">
              Разнообразные<br>
              рекламные форматы
            </h4>
            <p class="descr">
              Мы&nbsp;предлагаем разнообразные рекламные форматы, включая баннеры различных форматов и&nbsp;размеров, партнерские статьи и&nbsp;многое другое. Вы&nbsp;можете выбрать оптимальный формат под ваши цели.
            </p>
          </div>
          <div class="benefits__image">
            <img src="../img/benefits/benefits-3.png" class="benefits__image--icon">
          </div>
        </div>
        <div class="benefits__block">
          <div class="benefits__image benefits__image--position">
            <img src="../img/benefits/benefits-4.png" class="benefits__image--icon">
          </div>
          <div class="benefits__text benefits__text--position">
            <h4 class="benefits__text--title">
              Гибкая настройка кампании
            </h4>
            <p class="descr">
              Мы&nbsp;предоставляем возможность точно настроить вашу рекламу по&nbsp;интересующему Вас разделу, интересам и&nbsp;другим параметрам, чтобы добиться максимальной релевантности.
            </p>
          </div>
        </div>
        <div class="benefits__block">
          <div class="benefits__text">
            <h4 class="benefits__text--title">
              Выгодные условия
            </h4>
            <p class="descr">
              Реклама на&nbsp;нашем портале является выгодным вложением на&nbsp;фоне конкурентов по&nbsp;соотношению цены к&nbsp;охвату пользователей.
            </p>
          </div>
          <div class="benefits__image">
            <img src="../img/benefits/benefits-5.png" class="benefits__image--icon">
          </div>
        </div>
      </div>
    </div>
    <div class="formats">
      <h4 class="formats__title subtitle">
        Форматы рекламы
      </h4>
      <div class="formats__wrapper">
        <div class="formats__block">
          <h4 class="formats__block--title">
            Главная страница
          </h4>
          <div class="formats__image">
            <img src="../img/formats/formats-1.png" class="formats__image--icon">
          </div>
        </div>
        <div class="formats__block">
          <h4 class="formats__block--title">
            Страница раздела
          </h4>
          <div class="formats__image">
            <img src="../img/formats/formats-2.png" class="formats__image--icon">
          </div>
        </div>
        <div class="formats__block">
          <h4 class="formats__block--title">
            Страница новости
          </h4>
          <div class="formats__image">
            <img src="../img/formats/formats-3.png" class="formats__image--icon">
          </div>
        </div>
      </div>
    </div>
    <div class="adv__info">
      <h3 class="subtitle adv__info--title">
        Реклама на главной и в разделах
      </h3>
      <p class="descr">
        Естественно, количество просмотров размещаемой рекламы зависит от раздела, в котором она размещена.
        Как и различаются цены на её размещение на главной странице и в конкретных разделах.
      </p>
    </div>
    <div class="banner">
      <div class="banner__text">
        <h3 class="subtitle banner__title">
          Разработка дизайна<br>
          баннера
        </h3>
        <p class="descr">
          Вы&nbsp;хотите заказать рекламу, но&nbsp;у&nbsp;Вас нет готового для размещения баннера или Ваш баннер не&nbsp;подходит
          под размеры на&nbsp;нашем портале? Не&nbsp;проблема! Наш дизайнер разработает уникальный баннер под Ваше техническое задание или подкорректирует уже готовый вариант из&nbsp;исходника.
        </p>
      </div>
      <div class="benefits__image">
        <img src="../img/banner-1.png" class="benefits__image--icon">
      </div>
    </div>
    <div class="cooperation">
      <h3 class="subtitle cooperation__title">
        Начало пути продуктивного сотрудничества
      </h3>
      <div class="cooperation__text">
        <p class="descr">
          Если Вы&nbsp;хотите увеличить видимость вашего бизнеса и&nbsp;достичь Вашей целевой аудитории, несомненно, размещение рекламы на&nbsp;нашем сайте&nbsp;&mdash; это правильный шаг. Мы&nbsp;готовы обсудить Ваши потребности и&nbsp;предоставить Вам индивидуальное предложение.
        </p>
        <p class="descr">
          Свяжитесь с&nbsp;нами сегодня, и&nbsp;давайте начнем работать над Вашей успешной рекламной кампанией!
        </p>
      </div>
      <form class="cooperation__form">
        <div class="cooperation__form--inputs">
          <input class="all-form__input" type="email" placeholder="Ваш e-mail">
          <input class="all-form__input" type="text" placeholder="Ваше имя">
        </div>
        <button class="btn btn-reset btn--fill">Свяжитесь со мной</button>
        <p class="registration__form--text registration__form--article">
          Нажимая кнопку “Зарегистрироваться”, Вы подтверждаете согласие с <span><a href="/">Политикой конфиденциальной информации</a></span>
        </p>
      </form>
    </div>
   </div>
  </div>
</section>
