<section class="block">
  <div class="container">
    <div class="block__container">
      <div class="block-one">
        <div class="block-one__image">
          <img src="../img/news-1.jpg" alt="" class="block-one__image--icon">
        </div>
        <div class="block-one__time block-one__position">
          <span class="block-one__time--title">
            Авиа
          </span>
          <span class="block-one__time--publish">
            11 часов назад
          </span>
        </div>
        <div class="block-one__info block-one__position">
          <a href="/" class="block-one__info--link">
            <h3 class="block-one__info--title">
              Перевозка лесоматериалов автомобильным транспортом через территорию России
            </h3>
          </a>
          <p class="block-one__info--text">
            Каждый из нас сталкивался с тем, что нужно откуда-то доставить огромный груз.
            И порой такой процесс является непростой задачей. Ведь...
          </p>
        </div>
        <span class="block-one__company--text block-one__position">
          ОАО «Галопередол»
        </span>
      </div>
      <div class="block-second">
        <div class="block-second__image">
          <img src="../img/news-2.jpg" alt="" class="block-second__image--icon">
        </div>
        <div class="block-second__content">
          <div class="block-second__time">
            <span class="block-second__time--title">
              ЖД
            </span>
            <span class="block-second__time--publish">
              11 часов назад
            </span>
          </div>
          <div class="block-second__info">
            <a href="/" class="block-second__info--link">
              <h3 class="block-second__info--title">
                Крупногабаритные автомобильные перевозки из Китая
              </h3>
            </a>
            <p class="block-second__info--text">
              Каждый из нас сталкивался с тем, что нужно откуда-то доставить огромный груз...
            </p>
          </div>
          <div class="block-second__company">
            <span class="block-second__company--text">
              ОАО «Галопередол»
            </span>
          </div>
        </div>
      </div>
      <div class="block-third">
        <div class="block-third__bg"></div>
        <div class="block-third__content">
          <a href="/" class="block-third__link">
            <h3 class="block-third__title">
              Крупногабаритные автомобильные перевозки из Китая
            </h3>
          </a>
          <div class="block-third__bottom">
            <span class="block-third__company">
              ОАО «Галопередол»
            </span>
            <span class="block-third__time">
              11 часов назад
            </span>
          </div>
        </div>
      </div>
      <div class="block-four">
        <a href="/" class="block-four__link">
            <h3 class="block-four__title">
              Перевозка лесоматериалов автомобильным транспортом через территорию России
            </h3>
          <div class="block-four__bottom">
            <span class="block-one__company--text">
              ОАО «Галопередол»
            </span>
            <span class="block-one__time--publish">
              11 часов назад
            </span>
          </div>
        </a>
      </div>
      <div class="block-five">
        <a href="/" class="block-four__link">
          <h3 class="block-four__title">
            Перевозка лесоматериалов автомобильным транспортом через территорию России
          </h3>
          <div class="block-four__bottom">
            <span class="block-one__company--text">
              ОАО «Галопередол»
            </span>
            <span class="block-one__time--publish">
              11 часов назад
            </span>
          </div>
        </a>
      </div>
      <div class="block-six">
        <div class="block-six__image">
          <img src="../img/news-4.png" alt="" class="block-one__image--icon">
        </div>
        <div class="block-one__time block-one__position">
          <span class="block-one__time--publish">
            11 часов назад
          </span>
        </div>
        <div class="block-one__info block-one__position">
          <a href="/" class="block-one__info--link">
            <h3 class="block-one__info--title">
              Перевозка лесоматериалов автомобильным транспортом через территорию России
            </h3>
          </a>
          <p class="block-one__info--text">
            Каждый из нас сталкивался с тем, что нужно откуда-то доставить огромный груз.
            И порой такой процесс является непростой задачей. Ведь...
          </p>
        </div>
        <span class="block-one__company--text block-one__position">
          ОАО «Галопередол»
        </span>
      </div>
      <div class="block-seven">
        <div class="block-seven__image">
          <img src="../img/news-5.png" alt="" class="block-seven__image--icon">
        </div>
        <div class="block-seven__content">
          <a href="/" class="block-four__link">
            <h3 class="block-four__title">
              Перевозка лесоматериалов автомобильным транспортом через территорию России
            </h3>
          </a>
          <div class="block-four__bottom">
            <span class="block-one__company--text">
              ОАО «Галопередол»
            </span>
            <span class="block-one__time--publish">
              11 часов назад
            </span>
          </div>
        </div>
      </div>
      <div class="block-eight">
        <div class="block-eight__image">
          <img src="../img/news-5.png" alt="" class="block-eight__image--icon">
        </div>
        <div class="block-seven__content">
          <a href="/" class="block-four__link">
            <h3 class="block-four__title">
              Перевозка лесоматериалов автомобильным транспортом через территорию России
            </h3>
          </a>
          <div class="block-four__bottom">
            <span class="block-one__company--text">
              ОАО «Галопередол»
            </span>
            <span class="block-one__time--publish">
              11 часов назад
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
