<section class="news">
  <div class="container">
    <div class="news__container">
      <div class="news-one">
        <a href="/" class="news-one__link news-link">
          <div class="news-one__image">
            <img src="../img/news-1.jpg" alt="" class="news-one__image--icon">
          </div>
          <div class="news-one__time news-one__position">
            <span class="news-category">
              Авиа
            </span>
            <span class="news-date">
              11 часов назад
            </span>
          </div>
          <div class="news-one__info news-one__position">
              <h3 class="news-title__big">
                Перевозка лесоматериалов автомобильным транспортом через территорию России
              </h3>
            <p class="news-text">
              Каждый из нас сталкивался с тем, что нужно откуда-то доставить огромный груз.
              И порой такой процесс является непростой задачей. Ведь...
            </p>
          </div>
          <span class="news-company news-one__position">
            ОАО «Галопередол»
          </span>
        </a>
      </div>
      <div class="news-second">
        <a href="/" class="news-second__link">
          <div class="news-second__image">
            <img src="../img/news-2.jpg" alt="" class="news-second__image--icon">
          </div>
          <div class="news-second__content">
            <div class="news-second__time">
              <span class="news-category">
                ЖД
              </span>
              <span class="news-date">
                11 часов назад
              </span>
            </div>
            <div class="news-second__info">
              <h3 class="news-second__info--title">
                Крупногабаритные автомобильные перевозки из Китая
              </h3>
              <p class="news-second__info--text">
                Каждый из нас сталкивался с тем, что нужно откуда-то доставить огромный груз...
              </p>
            </div>
            <div class="news-second__company">
              <span class="news-second__company--text news-company">
                ОАО «Галопередол»
              </span>
            </div>
          </div>
        </a>
      </div>
      <div class="news-third">
        <a href="/" class="news-third__link">
          <div class="news-third__bg"></div>
          <div class="news-third__image">
            <img src="../img/news-3.png" alt="" class="news-third__image--icon">
          </div>
          <div class="news-third__content">
            <h3 class="news-title__big news-third__title">
              Крупногабаритные автомобильные перевозки из Китая
            </h3>
            <div class="news-third__bottom news-flex">
              <span class="news-third__company news-company">
                ОАО «Галопередол»
              </span>
              <span class="news-third__time news-date">
                11 часов назад
              </span>
            </div>
          </div>
        </a>
      </div>
      <div class="news-four">
        <a href="/" class="news-four__link news-link">
            <h3 class="news-title__min">
              Перевозка лесоматериалов автомобильным транспортом через территорию России
            </h3>
          <div class="news-flex">
            <span class="news-company">
              ОАО «Галопередол»
            </span>
            <span class="news-date">
              11 часов назад
            </span>
          </div>
        </a>
      </div>
      <div class="news-five">
        <a href="/" class="news-four__link news-link">
          <h3 class="news-title__min">
            Перевозка лесоматериалов автомобильным транспортом через территорию России
          </h3>
          <div class="news-flex">
            <span class="news-company">
              ОАО «Галопередол»
            </span>
            <span class="news-date">
              11 часов назад
            </span>
          </div>
        </a>
      </div>
      <div class="news-six">
        <a class="news-six__link news-link" href="/">
          <div class="news-six__image">
            <img src="../img/news-4.png" alt="" class="news-one__image--icon">
          </div>
          <div class="news-one__time news-one__position">
            <span class="news-date">
              11 часов назад
            </span>
          </div>
          <div class="news-one__info news-one__position">
            <h3 class="news-title__big">
              Перевозка лесоматериалов автомобильным транспортом через территорию России
            </h3>
            <p class="news-text">
              Каждый из нас сталкивался с тем, что нужно откуда-то доставить огромный груз.
              И порой такой процесс является непростой задачей. Ведь...
            </p>
          </div>
          <span class="news-company news-one__position">
            ОАО «Галопередол»
          </span>
        </a>
      </div>
      <div class="news-seven">
        <a href="/" class="news-seven__link news-link">
          <div class="news-seven__image">
            <img src="../img/news-5.png" alt="" class="news-seven__image--icon">
            <div class="news-seven__image--bg"></div>
          </div>
          <div class="news-seven__content">
            <h3 class="news-title__min">
              Перевозка лесоматериалов автомобильным транспортом через территорию России
            </h3>
            <div class="news-flex">
              <span class="news-company">
                ОАО «Галопередол»
              </span>
              <span class="news-date">
                11 часов назад
              </span>
            </div>
          </div>
        </a>
      </div>
      <div class="news-eight">
        <a href="/" class="news-eight__link news-link">
          <div class="news-eight__image">
            <img src="../img/news-5.png" alt="" class="news-eight__image--icon">
            <div class="news-seven__image--bg"></div>
          </div>
          <div class="news-seven__content">
            <h3 class="news-title__min">
              Перевозка лесоматериалов автомобильным транспортом через территорию России
            </h3>
            <div class="news-flex">
              <span class="news-company">
                ОАО «Галопередол»
              </span>
              <span class="news-date">
                11 часов назад
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
