<section class="burger-menu">
  <div class="burger-menu__wrapper">
    <div class="burger-menu__left">
      <a href="">
        <div class="burger-menu__logo">
          <img src="../img/header-logo.svg" class="burger-menu__logo--icon" alt="Logo">
        </div>
      </a>
      <div class="burger-menu__image">
        <img src="../img/about-4.png" alt="911" class="burger-menu__image--icon">
      </div>
    </div>
    <div class="burger-menu__burger">
      <button class="burger burger__click">
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
  <div class="burger-menu__nav ">
    <ul class="burger-menu__list list-reset">
      <li class="burger-menu__item">
        <a class="burger-menu__link subburger-menu__btn">
          Каталог
          <svg class="burger-menu__arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M4 6L8 10L12 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <ul class="subburger-menu list-reset">
          <li class="subburger-menu__item">
            <a class="burger-menu__link">
              Краны
              <svg class="burger-menu__arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M4 6L8 10L12 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <ul class="list-reset subburger-more">
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны шоссейные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны полноприводные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Короткобазные краны</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны без оголовка</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны маховые</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны с оголовком</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Гусеничные подъёмные краны</a>
              </li>
            </ul>
          </li>
          <li class="subburger-menu__item">
            <a class="burger-menu__link subburger-more__btn">
              Погрузчики
              <svg class="burger-menu__arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M4 6L8 10L12 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <ul class="list-reset subburger-more">
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны шоссейные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны полноприводные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Короткобазные краны</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны без оголовка</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны маховые</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны с оголовком</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Гусеничные подъёмные краны</a>
              </li>
            </ul>
          </li>
          <li class="subburger-menu__item">
            <a class="burger-menu__link subburger-more__btn">
              Катки
              <svg class="burger-menu__arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M4 6L8 10L12 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <ul class="list-reset subburger-more">
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны шоссейные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны полноприводные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Короткобазные краны</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны без оголовка</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны маховые</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны с оголовком</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Гусеничные подъёмные краны</a>
              </li>
            </ul>
          </li>
          <li class="subburger-menu__item">
            <a class="burger-menu__link subburger-more__btn">
              Грейдеры
              <svg class="burger-menu__arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M4 6L8 10L12 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <ul class="list-reset subburger-more">
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны шоссейные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны полноприводные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Короткобазные краны</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны без оголовка</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны маховые</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны с оголовком</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Гусеничные подъёмные краны</a>
              </li>
            </ul>
          </li>
          <li class="subburger-menu__item">
            <a class="burger-menu__link subburger-more__btn">
              Асфальтоукладчики
              <svg class="burger-menu__arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M4 6L8 10L12 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <ul class="list-reset subburger-more">
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны шоссейные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны полноприводные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Короткобазные краны</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны без оголовка</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны маховые</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны с оголовком</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Гусеничные подъёмные краны</a>
              </li>
            </ul>
          </li>
          <li class="subburger-menu__item">
            <a class="burger-menu__link subburger-more__btn">
              Экскаваторы
              <svg class="burger-menu__arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M4 6L8 10L12 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <ul class="list-reset subburger-more">
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны шоссейные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны полноприводные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Короткобазные краны</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны без оголовка</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны маховые</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны с оголовком</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Гусеничные подъёмные краны</a>
              </li>
            </ul>
          </li>
          <li class="subburger-menu__item">
            <a class="burger-menu__link subburger-more__btn">
              Краны
              <svg class="burger-menu__arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M4 6L8 10L12 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <ul class="list-reset subburger-more">
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны шоссейные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Автокраны полноприводные</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Короткобазные краны</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны без оголовка</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны маховые</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Башенные краны с оголовком</a>
              </li>
              <li class="subburger-more__item">
                <a href="#" class="subburger-more__link">Гусеничные подъёмные краны</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="burger-menu__item">
        <a href="/spares.html#" class="burger-menu__link">
          Запчасти
        </a>
      </li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="/attachments.html#" class="nav__link">Навесное оборудование</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="/service.html" class="nav__link">Сервис</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="/leasing.html#"  class="nav__link">Лизинг</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="/news.html#"  class="nav__link">Новости</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="/about.html#"  class="nav__link">О компании</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="/contacts.html#"  class="nav__link">Контакты</a></li>
    </ul>
    <div class="burger-menu__contacts">
      <a href="tel:+375173033945" class="burger-menu__phone">+375 (17) 303-39-45</a>
      <a href="tel:+375173033911" class="burger-menu__phone">+375 (17) 303-39-11</a>
      <button class="btn-reset burger-menu__btn btn--blue open-modal-burger">Заказать звонок</button>
      <div class="modal" id="myModalBurger">
        <div class="modal__content call__container">
          <button class="btn-reset modal__close" id="closeModalBtn"></button>
          <div class="call-form__wrapper">
            <h4 class="call-form__subtitle">
              СВЯЗАТЬСЯ С НАМИ
            </h4>
            <h2 class="call-form__title title border-bottom">
              Обратная связь
            </h2>
            <p class="call-form__descr">
              Закажите звонок и мы Вам перезвоним!
            </p>
            <form class="call-form">
              <div class="call-form__top">
                <div class="call-form__item">
                  <label class="call-form__label" for="name">Имя</label>
                  <input type="text" class="call-form__input" id="name">
                </div>
                <div class="call-form__item">
                  <label class="call-form__label" for="name">Телефон</label>
                  <input class="call-form__input" type="text" id="name">
                </div>
              </div>
              <button class="btn btn-reset btn--blue call-form__btn" type="submit">Заказать звонок</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

