<section class="errow bottom-offset">
  <div class="container">
    <div class="errow__wrapper">
      <div class="errow__image">
        <img src="../img/404.png" alt="" class="errow__image--icon">
      </div>
      <div class="errow__text">
        <h3 class="errow__title title">
          Упс! А такой страницы нет...
        </h3>
        <p class="errow__descr">
          Кажется, что-то не так со ссылкой!
        </p>
      </div>
      <a href="/" class="btn btn--fill profile-form__btn">
        Вернуться на главную
      </a>
    </div>
  </div>
</section>
