<section class="links">
  <div class="container">
    <a href="/block-page.html" target="_blank">block</a>
    <a href="/registration-page.html" target="_blank">registration</a>
    <a href="/profile-page.html" target="_blank">profile</a>
    <a href="/worker-page.html" target="_blank">worker</a>
    <a href="/article-page.html" target="_blank">article</a>
    <a href="/article-plus-page.html" target="_blank">article-plus</a>
    <a href="/password-page.html" target="_blank">password</a>
  </div>
</section>
