<section class="profile top-offset bottom-offset">
  <div class="container">
    <h2 class="title profile__title">
      Личный кабинет
    </h2>
    <div class="profile-nav">
      <a href="/" class="profile-nav__link profile-nav__link--active">
        Профиль
        <svg class="profile-nav__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
          <path d="M8.6 23L6.7 19.8L3.1 19L3.45 15.3L1 12.5L3.45 9.7L3.1 6L6.7 5.2L8.6 2L12 3.45L15.4 2L17.3 5.2L20.9 6L20.55 9.7L23 12.5L20.55 15.3L20.9 19L17.3 19.8L15.4 23L12 21.55L8.6 23ZM9.45 20.45L12 19.35L14.6 20.45L16 18.05L18.75 17.4L18.5 14.6L20.35 12.5L18.5 10.35L18.75 7.55L16 6.95L14.55 4.55L12 5.65L9.4 4.55L8 6.95L5.25 7.55L5.5 10.35L3.65 12.5L5.5 14.6L5.25 17.45L8 18.05L9.45 20.45ZM10.95 16.05L16.6 10.4L15.2 8.95L10.95 13.2L8.8 11.1L7.4 12.5L10.95 16.05Z"/>
        </svg>
      </a>
      <a href="/" class="profile-nav__link">
        Сотрудники
      </a>
      <a href="/" class="profile-nav__link">
        Мои статьи
      </a>
      <a href="/" class="profile-nav__link">
        Смена пароля
      </a>
    </div>
    <form class="profile-form">
      <div class="profile-form__content">
        <div class="profile-form__block">
          <input class="all-form__input" type="email" placeholder="Email">
          <input class="all-form__input" type="tel" placeholder="Телефон">
        </div>
        <div class="profile-form__block">
          <h3 class="profile-form__title">
            О компании:
          </h3>
          <input class="all-form__input" type="text" placeholder="Наименование организации">
          <input class="all-form__input" type="text" placeholder="ФИО руководителя">
          <input class="all-form__input" type="text" placeholder="Должность руководителя">
          <input class="all-form__input" type="text" placeholder="Юридический адрес">
          <input class="all-form__input" type="text" placeholder="Адрес для почтовых отправлений">
          <input class="all-form__input" type="text" placeholder="Контактный телефон">
          <input class="all-form__input" type="text" placeholder="Мобильный телефон">
          <input class="all-form__input" type="email" placeholder="E-mail для связи">
        </div>
        <div class="profile-form__block">
          <h3 class="profile-form__title">
            Информация для оплаты:
          </h3>
          <input class="all-form__input" type="text" placeholder="Адрес банка">
          <input class="all-form__input" type="text" placeholder="Код формата BIC">
          <input class="all-form__input" type="text" placeholder="Расчётный счёт формата IBAN">
          <input class="all-form__input" type="text" placeholder="На основании чего действует руководитель">
        </div>
        <div class="profile-form__block">
          <h3 class="profile-form__title">
            Регистрационная форма в ЕГР:
          </h3>
          <input class="all-form__input profile-form__input" type="text" placeholder="УНП">
          <input class="all-form__input" type="text" placeholder="Орган, осуществивший регистрацию">
          <input class="all-form__input" type="text" placeholder="Дата государственной регистрации">
        </div>
      </div>
      <div class="btn--position">
        <button class="btn-reset btn btn--fill">Сохранить изменения</button>
        <button class="btn btn-reset btn--min">Отмена</button>
      </div>
    </form>
  </div>
</section>
