<section class="question top-offset bottom-offset">
  <div class="container">
   <div class="question__wrapper">
    <h2 class="title question__title">
      Личный кабинет
    </h2>
    <p class="question__descr">
      У&nbsp;вас возник вопрос технического характера или&nbsp;Вы обнаружили на&nbsp;сайте ошибку?<br>
      Заполните форму ниже и&nbsp;мы&nbsp;ответим на&nbsp;него.
    </p>
    <form class="question__form">
      <textarea class="question__form--textarea" placeholder="Ваш вопрос"></textarea>
      <div class="question__form--inputs">
        <input class="all-form__input" type="email" placeholder="Ваш e-mail">
        <input class="all-form__input" type="text" placeholder="Ваше имя">
        <button class="btn-reset btn btn--fill">Задать вопрос</button>
        <p class="registration__form--text registration__form--article">
          Нажимая кнопку “Зарегистрироваться”, Вы подтверждаете согласие с <span><a href="/">Политикой конфиденциальной информации</a></span>
        </p>
      </div>
    </form>
   </div>
  </div>
</section>
