<section class="registration top-offset bottom-offset">
  <div class="container">
    <h2 class="registration__title title">
      Регистрация нового аккаунта
    </h2>
    <div class="registration__wrapper">
      <form class="registration__form">
        <div class="registration__form--inputs">
          <input class="all-form__input all-form__input--registr" type="email" placeholder="Email">
          <input class="all-form__input all-form__input--registr" type="tel" placeholder="Телефон">
          <input class="all-form__input all-form__input--registr" type="text" placeholder="УНП">
          <input class="all-form__input all-form__input--registr" type="text" placeholder="Наименование организации">
        </div>
        <p class="registration__form--text">
          Пароль для авторизации будет выслан
          на Ваш почтовый адрес. Его можно будет изменить в настройках личного кабинета.
        </p>
        <button class="btn btn-reset btn--fill">Зарегестрироваться</button>
        <p class="registration__form--text registration__form--article">
          Нажимая кнопку “Зарегистрироваться”, Вы подтверждаете согласие с <span><a href="/">Политикой конфиденциальной информации</a></span>
        </p>
      </form>
      <div class="registration__image">
        <img src="../img/registration/Reg 1921.png" alt="" class="registration__image--icon">
      </div>
    </div>
  </div>
</section>
